<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiden.mapper.SysConfigMapper">
    <resultMap id="BaseResultMap" type="com.aiden.entity.SysConfig">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="treasure_already_total_amount" property="treasureAlreadyTotalAmount" jdbcType="DECIMAL"/>
        <result column="treasure_total_amount" property="treasureTotalAmount" jdbcType="DECIMAL"/>
        <result column="treasure_end_time" property="treasureEndTime" jdbcType="TIMESTAMP"/>
        <result column="treasure_already_hight_num" property="treasureAlreadyHightNum" jdbcType="INTEGER"/>
        <result column="treasure_already_low_num" property="treasureAlreadyLowNum" jdbcType="INTEGER"/>
        <result column="treasure_hight_num" property="treasureHightNum" jdbcType="INTEGER"/>
        <result column="treasure_low_num" property="treasureLowNum" jdbcType="INTEGER"/>
        <result column="treasure_enabled" property="treasureEnabled" jdbcType="TINYINT"/>
        <result column="access_key" property="accessKey" jdbcType="VARCHAR"/>
        <result column="access_secret" property="accessSecret" jdbcType="VARCHAR"/>
        <result column="sms_enabled" property="smsEnabled" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, treasure_total_amount,treasure_already_total_amount, treasure_already_hight_num,treasure_already_low_num,treasure_end_time, treasure_hight_num, treasure_low_num,
    treasure_enabled, access_key,access_secret,sms_enabled
  </sql>
    <select id="findOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_config
        ORDER BY id desc limit 1
    </select>

    <update id="updateTreasureLow">
        UPDATE t_sys_config SET
        <if test="lowNum != null">
            treasure_already_low_num=treasure_already_low_num+1
        </if>
        <if test="lowNum == null">
            treasure_already_low_num=1
        </if>
        WHERE id=#{id}
        <if test="lowNum != null">
            AND treasure_already_low_num=#{lowNum}
        </if>
        <if test="lowNum == null">
            AND treasure_already_low_num is NULL
        </if>
    </update>

    <update id="updateTreasureHeight">
        UPDATE t_sys_config SET
        <if test="heightNum != null">
            treasure_already_hight_num=treasure_already_low_num+1
        </if>
        <if test="heightNum == null">
            treasure_already_hight_num=1
        </if>
        WHERE id=#{id}
        <if test="heightNum != null">
            AND treasure_already_hight_num=#{heightNum}
        </if>
        <if test="heightNum == null">
            AND treasure_already_hight_num is NULL
        </if>
    </update>
    <update id="updateTreasureAmount">
        UPDATE t_sys_config SET
        treasure_already_total_amount=#{newAlreadyAmount}
        WHERE id=#{id}
        <if test="alreadyAmount != null">
            AND treasure_already_total_amount=#{alreadyAmount}
        </if>
        <if test="alreadyAmount == null">
            AND treasure_already_total_amount is NULL
        </if>
    </update>
</mapper>