<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiden.mapper.TreasureDistributionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.aiden.entity.TreasureDistributionInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="treasure_id" property="treasureId" jdbcType="BIGINT" />
    <result column="lat" property="lat" jdbcType="DECIMAL" />
    <result column="lng" property="lng" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="is_receive" property="isReceive" jdbcType="TINYINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_type" property="createType" jdbcType="TINYINT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, treasure_id, lat, lng, user_id, is_receive, amount, content, create_type, created_time, 
    create_id, receive_time, type
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_treasure_distribution_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="openTreasure">
    UPDATE t_treasure_distribution_info set
    receive_time=NOW(),user_id=#{userId},is_receive=#{isReceive}
    where id=#{treasureDistributionId} and user_id is NULL ;
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_treasure_distribution_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiden.entity.TreasureDistributionInfo" >
    insert into t_treasure_distribution_info (id, treasure_id, lat, 
      lng, user_id, is_receive, 
      amount, content, create_type, 
      created_time, create_id, receive_time, 
      type)
    values (#{id,jdbcType=BIGINT}, #{treasureId,jdbcType=BIGINT}, #{lat,jdbcType=DECIMAL}, 
      #{lng,jdbcType=DECIMAL}, #{userId,jdbcType=BIGINT}, #{isReceive,jdbcType=TINYINT}, 
      #{amount,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR}, #{createType,jdbcType=TINYINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=BIGINT}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiden.entity.TreasureDistributionInfo" >
    insert into t_treasure_distribution_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="treasureId != null" >
        treasure_id,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isReceive != null" >
        is_receive,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createType != null" >
        create_type,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="treasureId != null" >
        #{treasureId,jdbcType=BIGINT},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isReceive != null" >
        #{isReceive,jdbcType=TINYINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createType != null" >
        #{createType,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiden.entity.TreasureDistributionInfo" >
    update t_treasure_distribution_info
    <set >
      <if test="treasureId != null" >
        treasure_id = #{treasureId,jdbcType=BIGINT},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="isReceive != null" >
        is_receive = #{isReceive,jdbcType=TINYINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createType != null" >
        create_type = #{createType,jdbcType=TINYINT},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiden.entity.TreasureDistributionInfo" >
    update t_treasure_distribution_info
    set treasure_id = #{treasureId,jdbcType=BIGINT},
      lat = #{lat,jdbcType=DECIMAL},
      lng = #{lng,jdbcType=DECIMAL},
      user_id = #{userId,jdbcType=BIGINT},
      is_receive = #{isReceive,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DECIMAL},
      content = #{content,jdbcType=VARCHAR},
      create_type = #{createType,jdbcType=TINYINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=BIGINT},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>